<div>
    <ul class="nav nav-pills">
        <li class="active"><a href="" data-target="#projects" data-toggle="tab">Fenix Framework Projects</a></li>
        <li><a href="" data-target="#libraries" data-toggle="tab">Libraries</a></li>
        <li><a href="" data-target="#system" data-toggle="tab">System Properties</a></li>
        <li><a href="" data-target="#environment" data-toggle="tab">Environment Properties</a></li>
        <li><a href="" data-target="#http" data-toggle="tab">HTTP Headers</a></li>
        <li><a href="" data-target="#conf" data-toggle="tab">Static Configurations</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="projects">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>GroupId</th>
                    <th>ArtifactId</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Creation Date</th>
                    <th>Jdk Version</th>
                    <th>Built By</th>
                </tr>
                <tr ng-repeat="project in data.projects">
                    <td>{{project.groupId}}</td>
                    <td>{{project.artifactId}}</td>
                    <td>{{project['Implementation-Title']}}</td>
                    <td>{{project.version}}</td>
                    <td>{{project.creation}}</td>
                    <td>{{project['Build-Jdk']}}</td>
                    <td>{{project['Built-By']}}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="libraries">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>GroupId</th>
                    <th>ArtifactId</th>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Creation Date</th>
                    <th>Jdk Version</th>
                    <th>Built By</th>
                </tr>
                <tr ng-repeat="library in data.libraries">
                    <td>{{library.groupId}}</td>
                    <td>{{library.artifactId}}</td>
                    <td>{{library['Implementation-Title']}}</td>
                    <td>{{library.version}}</td>
                    <td>{{library.creation}}</td>
                    <td>{{library['Build-Jdk']}}</td>
                    <td>{{library['Built-By']}}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="system">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr ng-repeat="property in data.sys">
                    <td>{{property.key}}</td>
                    <td>{{property.value}}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="environment">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr ng-repeat="prop in data.env">
                    <td>{{prop.key}}</td>
                    <td>{{prop.value}}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="http">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr ng-repeat="property in data.http">
                    <td>{{property.key}}</td>
                    <td>{{property.value}}</td>
                </tr>
            </table>
        </div>
        <div class="tab-pane" id="conf">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                <tr ng-repeat="property in data.conf">
                    <td>{{property.key}}</td>
                    <td>{{property.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>